@font-face {
  font-family: "MGR";
  src: url("../fonts/SLANT.TTF");
}

.cartColumn {
  display: flex;
  background-color: #212121;
  min-height: 25vw;
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  flex-grow: 1;
  box-shadow: 0px -8px 20px var(--pageColor), 0px 11px 20px #463e4f;
  border-radius: 20px;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.cartTable {
  background-color: #212121;
  border-spacing: 0 5px;
  margin: 10px auto;
  width: 500px;
  height: fit-content;
}

.cartTable-Head tr td {
  background-color: var(--pageColor);
  padding: 4px;
  border: none;
  margin: 0;
  text-align: left;
  font-size: 30px;
  font-family: "MGR";
  color: #f8f8f8;
}
.tr_td2 {
  border-radius: 0 5px 5px 0;
  width: 100.46px;
}
.tr_td1 {
  border-radius: 5px 0 0 5px;
  width: 263.8px;
}
.cartTable-Row {
  width: fit-content;
  background-color: #383535;
  font-family: "MGR";
  color: #f8f8f8;
  transition: 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
.vanquish {
  transform: translatex(-20px);
  opacity: 0;
}
.amount_Calc {
  outline: none;
  margin: auto;
  height: 25px;
  width: 25px;
  padding: 0 10px;
  border: 2px solid var(--pageColor);
  border-radius: 10px;
}
.Product {
  display: flex;
  font-size: 10px;
  width: 100%;
}
.productImage {
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
  margin: 3px;
  border-radius: 5px;
}
.Product div {
  display: flex;
  margin: auto 0 auto 3px;
  font-size: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Product div p {
  margin: 0;
}

.remover {
  display: flex;
  transform: translate(-120%, 100%);
  position: absolute;
  align-items: center;
  justify-content: center;
  outline: none;
  font-size: 20px;
  margin: auto;
  height: 35px;
  width: 35px;
  border: none;
  background-color: var(--pageColor);
  color: #f8f8f8;
  border-radius: 50%;
  transition: 0.1s;
}
.remover:active {
  transform: translate(-120%, 100%) scale(0.9);
}

/***********************Total Price calculation table****************************/
/***************************************************/
.cartTotal {
  top: 18%;
  position: sticky;
  margin: 15px auto;
  width: 270px;
  height: fit-content;
  color: white;
  font-family: MGR;
  font-size: 30px;
}
.cartTotal-Head {
  border-spacing: 0;
  background-color: var(--pageColor);
  padding: 4px;
  border: none;
  width: fit-content;
}

.cartTotal-Head td {
  padding: 5px;
}
.th_td1 {
  border-radius: 5px 0 0 5px;
}
.th_td2 {
  border-radius: 0 5px 5px 0;
}
.cartTotal-Items {
  background-color: #383535;
  height: 108px;
  font-size: 20px;
  text-align: center;
}

/***************************************************/
/***********************Total Price calculation table Complete****************************/
