html{ height: 100%; width: 100%;}
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@font-face{
    font-family: "MGR";
    src: url("../fonts/SLANT.TTF");
}

body{
  margin: 0;
  padding: 0;
  background-image:url("https://images4.alphacoders.com/689/689588.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  text-align: right;
  align-items: center;
  padding: 0;
  max-width: 1300px;
  margin: auto;
}
.cont {
  padding: 0;
  max-width: 1300px;
  margin: auto;
}
.cont h1 {
  cursor: pointer;
    text-align: center;
    padding: 0;
    font-size: 70px;
    color: #ffffff;
    margin: 200px auto;
    font-family: 'MGR';
    transition: 600ms;
}
.cont h1:hover {
color:rgb(199 64 78);

}

/***********************navigation bar-mini******************************/
.navs{

  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  border-radius: 25px;
  border: 3px solid rgb(199 64 78);
  background-color: rgb(33 33 33 / 75%);
}

/**********************************social media *********************/
.link{
  color: rgb(40 41 42);
  text-decoration: none;
}
.wrapper{
  width: fit-content;
  
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;


}
.wrapper .icon{
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span {
  display: block;
  height: 30px;
  width: 30px;
  background: #0e061f00;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  box-shadow: 0px 20px 20px rgb(0 0 0 / 20%);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  .wrapper .icon span i {
    line-height: 30px;
    font-size: 15px;
    color: #dbe1e7;

}

.wrapper .facebook:hover span{
    color: #fff;
    transform: scale(1.2);
  background: #3B5999;
}
.wrapper .twitter:hover span{
  color: #fff;
  transform: scale(1.2);
background: #46C1F6;
}
.wrapper .instagram:hover span{
  color: #fff;
  transform: scale(1.2);
background: #e1306c;
}
.wrapper .github:hover span{
  color: #fff;
  transform: scale(1.2);
background: #333;
}
.wrapper .youtube:hover span{
  color: #fff;
  transform: scale(1.2);
background: #DE463B;
} 

/**********************************social media complete*********************/


/**********************************navigation bar-mini complete*********************/
.cont{
display: grid;
text-align: center;
align-items: center;
padding:0;
max-width: 1300px;
margin: auto;

}




/************************************************************/
.logy {
  font-size: 20px;
  top: 0;
  margin: 10px;
  left: auto;
  position: absolute;
  color: rgb(219 225 231);
  font-family: 'MGR' !important;
  padding: 8px;
  background: rgba(33, 33, 33, 0);
  text-decoration: none;
  display: block;
  width: fit-content;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  border: 3px solid rgb(199 64 78);
  border: 2px bold;
  transition: 600ms;

}
.logy:hover{
  color: #c7404e; 
  transform: scale(1.01);  
   

}


.colory {
  font-size: 20px;
  color: rgb(219 225 231);
  font-family: 'MGR' !important;
  padding: 10px;
  background: rgba(33, 33, 33, 0);
  text-decoration: none;
  display: block;
  width: fit-content;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: 2px bold;
 transition: 600ms;
  border-radius: 25px;
}
.colory:hover{
  color: #c7404e; 
  transform: scale(1.01);  
   

}

/***Sign Up ***/


  .signup-form {
    border-top: 10px solid #c7404e;
    border-bottom: 8px solid #c7404e;
    margin: 70px auto ;
    width: 300px;
    padding: 15px;
    justify-items: center;
    align-items: center;
    background-color: rgb(33 33 33 / 75%);
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    transition: 600ms;
  
}

  
  .signup-form h1{
    cursor: pointer;
    text-align: center;
    margin: 5px auto 50px auto;
    font-family: 'MGR';
    color: rgb(219 225 231);
    font-size: 40px;
    transition: 600ms;
  }
  .signup-form h1:hover{
    transform: scale(1.01);
    color:#c7404e;  
    }
    .signup-form input {
    display: block;
    width: 100%;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: 1px bold;
    border-style: solid;
    border-color: #c7404e;
    border-radius: 15px;
    }
  .txtb{
    font-size: 20px;
    color: rgb(219 225 231);
    font-family: 'MGR' !important;
    margin: 20px 0;
    background: rgb(176 168 169 / 12%);
  }
  .txtb ::placeholder{
    color: rgb(219 225 231)!important;
  }
  .signup-btn {
    font-family: 'MGR' !important;
    font-size: 30px !important;
    margin: 50px auto auto auto;
    background-color: rgb(33 33 33);
    color: rgb(219 225 231);
    cursor: pointer;
    transition: 0.8s;
  }
  .signup-btn:hover{
    transform: scale(1.03);
    
  }
  .log{
  text-decoration: none;
  font-size: 20px;
  color: rgb(219 225 231);
  font-family: 'MGR' !important;
  outline: none;

  }
  .log p{
    transition: 600ms;
  }
  .log p:hover{
  transform: scale(1.02)!important;

  }
  .sign{
  text-decoration: none;
  font-size: 20px;
  color: rgb(219 225 231);
  font-family: 'MGR' !important;
  outline: none;
  }
  .sign p{
    transition: 600ms;
  }
  .sign p:hover{
  transform: scale(1.02)!important;

  }
/****************************Sign Up complete********************************/
 /**************************footer***************************************************/
 footer{
  bottom: 0;
  position: absolute;
  display: block;
  background-color: rgb(33 33 33);
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: fit-content;
  border-top: 20px solid #c7404e;


}




    

   footer .paragraph {
    width: fit-content;
    margin: auto;
    padding: 10px;
    font-family: "MGR";
    color: rgb(255 255 255);
    text-align: center;
    font-size: 30px;
    position: relative;
    cursor: pointer;
    transition: 600ms;
   
  
    }
    footer .paragraph:hover {
      transform: scale(0.9); 
      
    } 
    .wrap{
      width: fit-content;
      margin: auto;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
      padding-bottom: 10px;
      
        }
        .wrap .icon{
          margin: 0 10px;
          text-align: center;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
          z-index: 2;
          transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .wrap .icon span{
          display: block;
          height: 30px;
          width: 30px;
          background: #fff;
          border-radius: 10px;
          position: relative;
          z-index: 2;
          box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
          transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        .wrap .icon span i{
          line-height: 30px;
          font-size: 15px;
          
        }
        .wrap .facebook:hover span{
            color: #fff;
            transform: scale(1.2);
          background: #3B5999;
        }
        .wrap .twitter:hover span{
          color: #fff;
          transform: scale(1.2);
        background: #46C1F6;
      }
      .wrap .instagram:hover span{
          color: #fff;
          transform: scale(1.2);
        background: #e1306c;
      }
      .wrap .github:hover span{
          color: #fff;
          transform: scale(1.2);
        background: #333;
      }
      .wrap .youtube:hover span{
          color: #fff;
          transform: scale(1.2);
        background: #DE463B;
      }  


      /******************wavy background*****************/


/******************wavy background complete*****************/
      /**************************footer complete***************************************************/