html {
  height: 100%;
  width: 100%;
  /* zoom: 150%; */
}
:root {
  --pageColor: #c7404e;
  --text_Hover: rgb(248, 107, 135);
  --selectionColor: rgb(176, 141, 141);
}
::selection {
  background-color: var(--selectionColor);
  color: var(--text_Hover);
}
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@font-face {
  font-family: "MGR";
  src: url("../fonts/SLANT.TTF");
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 1.1vw;
  height: 1.1vw;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(88 90 90 / 80%);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(65 65 65 / 80%);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--pageColor);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
::selection {
  background-color: rgb(176, 141, 141);
  color: var(--text_Hover);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 100vh;
  background-image: url(../assets/1186356.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: overlay;
  align-items: center;
}
header {
  display: flex;
  padding: 0;
  width: 100%;
  margin: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/***********************navigation bar-mini******************************/

nav {
  margin: 25px;
  display: flex;
  gap: 10px;
  border-radius: 0 25px 25px 0;
  box-shadow: 0 0 10px 0px var(--text_Hover);
  background-color: rgba(33, 33, 33, 0.75);
  align-items: center;
}
.myLogo {
  position: absolute;
  background-color: rgb(33 33 33);
  box-shadow: 0 0 10px 0px var(--text_Hover);
  transform: translateX(-70%);
  border-radius: 50%;
  height: 80px;
  z-index: 1;
  width: 80px;
  transition: 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
.icon-IsaacLogo {
  font-size: 80px;
  position: absolute;
  z-index: 1;
  text-shadow: 0 0 20px var(--pageColor), 18px -10px 20px #50424f;
  color: rgb(227, 201, 204);
  cursor: pointer;
}
.myLogo:hover {
  color: var(--text_Hover);
  transform: translateX(-70%) rotate3D(0, 1, 0, 360deg);
}
.mainPage {
  display: flex;
  color: rgb(219 225 231);
  font-family: "MGR";
  width: 120px;
  font-size: 20px;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  justify-content: flex-end;
}

.mainPage:hover {
  color: var(--pageColor);
  transform: scale(0.95) rotate3d(1, 0, 0, 360deg);
}
/**********************************social media *********************/
.link {
  color: rgb(40 41 42);
  text-decoration: none;
}
.wrapper {
  width: fit-content;
  display: flex;
  gap: 10px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.wrapper .icon {
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(33 33 33 / 0);
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span {
  display: flex;
  height: 30px;
  width: 30px;
  background: rgb(33 33 33 / 0);
  border-radius: 10px;
  position: relative;
  z-index: 2;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  justify-content: center;
  align-items: center;
}
.wrapper .icon span i {
  color: #dbe1e7;
}

.wrapper .facebook:hover span {
  color: #fff;
  transform: scale(1.2);
  background: #3b5999;
}
.wrapper .twitter:hover span {
  color: #fff;
  transform: scale(1.2);
  background: #46c1f6;
}
.wrapper .instagram:hover span {
  color: #fff;
  transform: scale(1.2);
  background: #e1306c;
}
.wrapper .github:hover span {
  color: #fff;
  transform: scale(1.2);
  background: #333;
}
.wrapper .youtube:hover span {
  color: #fff;
  transform: scale(1.2);
  background: #de463b;
}

/**********************************social media complete*********************/

/**********************************navigation bar-mini complete*********************/

/************************************************************/

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  letter-spacing: 2px;
  width: 100%;
  padding: 0px;
  flex-grow: 1;
  justify-content: space-around;
  margin: 1% 0;
}
.title {
  display: flex;
  padding: 0px;
  font-size: 28px;
  text-shadow: 0 0 20px var(--pageColor), 18px -10px 20px #50424f;
  color: rgb(227, 201, 204);
  margin: 0;
  font-family: "MGR";
  justify-content: flex-start;
  flex-direction: column;
}
.title h1,
.title p {
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  cursor: pointer;
}
.title p:hover,
.title h1:hover {
  color: var(--text_Hover);
}
.title h1 {
  font-size: 65px;
}
.title p {
  max-width: 600px;
}

/***_______________________Sign Up + Log in _____________________***/
.loginANDsignup {
  display: flex;
}
.log-in-form.vanquish {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.sign-up-form.vanquish {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: none !important;
}

.log-in-form,
.sign-up-form {
  display: flex;
  opacity: 1;
  z-index: 0;
  height: fit-content;
  width: 250px;
  box-shadow: 1px -8px 20px var(--pageColor), 0px 11px 20px #463e4f;
  margin: 0;
  padding: 10px;
  gap: 10px;
  background-color: rgb(33 33 33 / 75%);
  border-radius: 25px;
  transition: 0.6s;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.log-in-form h1,
.sign-up-form h1 {
  display: flex;
  cursor: pointer;
  margin: 0;
  font-family: "MGR";
  color: rgb(219 225 231);
  font-size: 40px;
  transition: 600ms;
}
.log-in-form h1:hover,
.sign-up-form h1:hover {
  transform: scale(1.01);
  color: var(--pageColor);
}
.sign-up-form input,
.log-in-form input {
  display: flex;
  width: 100%;
  margin: 0;
  height: 44px;
  box-sizing: border-box;
  border: solid 2px var(--pageColor);
  outline: none;
  border-radius: 15px;
  justify-content: center;
  font-size: 20px;
  color: rgb(219 225 231);
  font-family: "MGR" !important;
  background: rgb(176 168 169 / 12%);
  text-align: center;
}

.txtb ::placeholder {
  color: rgb(219 225 231) !important;
}
.sign-up-btn,
.log-in-btn {
  font-family: "MGR" !important;
  font-size: 20px !important;
  margin: 50px auto auto auto;
  background-color: rgb(33 33 33) !important;
  color: rgb(219 225 231);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.sign-up-btn:hover,
.log-in-btn:hover {
  transform: scale(0.95);
}
.log,
.sign {
  text-decoration: none;
  margin: 10% 0;
  font-size: 20px;
  cursor: pointer;
  color: rgb(219 225 231);
  background-color: transparent;
  font-family: "MGR" !important;
  outline: none;
  border: none;
}
.log p,
.sign p {
  letter-spacing: 1px;
  margin: 0;
  transition: 0.3s ease-in-out;
}
.log p:active,
.sign p:active {
  transform: scale(0.95) !important;
}

/****************************Sign Up + Log in complete********************************/
/**************************footer***************************************************/
footer {
  display: flex;
  background-color: rgba(33, 33, 33, 0.75);
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  margin: 0;
  position: relative;
  box-shadow: var(--pageColor) 1px -6px 11px, rgb(70 62 79) 0px -7px 14px;
  justify-content: center;
  align-items: flex-start;
}

.paragraph {
  display: flex;
  width: fit-content;
  padding: 10px;
  margin: 0;
  font-family: MGR;
  color: rgb(255, 255, 255);
  font-size: 30px;
  cursor: pointer;
  transition: all 600ms ease 0s;
  flex-direction: column;
  align-items: center;
}
.paragraph:hover {
  transform: scale(0.9);
}
.paragraph p {
  display: flex;
  margin: 0;
}
/**************************footer complete***************************************************/
