@font-face {
  font-family: "MGR";
  src: url("../fonts/SLANT.TTF");
}

/***********************************************************************************/
/********************____________Product Section_______________*********************/
/***********************************************************************************/
.product-section {
  display: flex;
  background-color: rgb(33 33 33);
  margin: 30px 0;
  width: 100%;
  max-width: var(--soldierContainers);
  box-shadow: 0px -8px 20px var(--pageColor), 0px 11px 20px #463e4f;
  border-radius: 20px;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  gap: 40px;
  padding: 0;
  margin: 4%;
  background-color: rgb(33 33 33);
  color: #f8f8f8;
  font-size: 18px;
  font-family: "MGR";
  list-style: none;
}
.product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: fit-content;
  width: 200px;
  position: relative;
  background-color: #383535;
  box-shadow: 0 0 15px 0 #383535;
  border-radius: 15px;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.product-info {
  display: block;
}
.product-info p {
  margin: 0;
  text-align: left;
}
.product-info-title {
  color: var(--pageColor) !important;
}

.product-info p span {
  color: var(--New);
}
.used {
  color: var(--Used) !important;
}
.product-item:hover {
  transform: scale(0.95);
  box-shadow: 0 0 15px 0 rgb(227 201 204);
}

.product-item-image {
  height: 200px;
  width: 200px;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}
/**************************************/
/*************Buy Buttons *************/
/**************************************/
.buy {
  margin-bottom: 3%;
  width: 40px;
  height: 40px;
  background: var(--pageColor);
  color: #28292a;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  z-index: 1;
}
.buy:active {
  transform: scale(0.95);
}

.add-toCart-tooltip {
  padding: 0 5px;
  display: flex;
  transform: translateX(50px);
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: "MGR";
  width: 90px;
  height: 30px;
  border-radius: 25px;
  font-size: 18px;
  color: #f8f8f8;
  background-color: var(--pageColor);
  box-shadow: 0 0 20px 1px var(--pageColor);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  pointer-events: none;
  opacity: 0;
  z-index: 9999;
}
.buy:hover .add-toCart-tooltip {
  transform: translateX(80px);
  opacity: 1;
}
.add-toCart-tooltip p {
  margin: auto;
}
.add-toCart-tooltip::after {
  content: "";
  height: 14px;
  width: 14px;
  background-color: var(--pageColor);
  top: 31%;
  transform: rotate(45deg);
  left: -3px;
  z-index: -1;
  position: absolute;
}

.fa-cart-plus {
  font-size: 20px;
  color: #f8f8f8;
}

/**************************************/
/***********Buy Buttons End ***********/
/**************************************/

/*<!----------------------JS CSS colmun to row Changing------------------------!>*/
.changeLook {
  display: flex;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
  transition: all 0.3s ease 0s;
  align-items: center;
}
.changeLook h1 {
  letter-spacing: 1px;
  margin: 0;
  font-size: 20px;
  font-family: "MGR";
  text-shadow: 0 0 7px #c7404e, 0 0 4px #c7404e;
  color: rgb(255 255 255);
}

.changeLook button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 30px;
  border: none;
  margin: 10px;
  transition: 0.3s ease-in-out;
}
.rowLook.inUse {
  color: var(--pageColor);
}

.columnLook.inUse {
  color: var(--pageColor);
}
/*<!----------------------------------------------------------!>*/
/*<!-----------------------WARNING!!!!!!!!!!!!!---------------!>*/
/*<!----------------------------------------------------------!>*/
.products.its-row-time {
  display: grid;
  gap: 40px;
  grid-template-columns: 100%;
}

.product-item.its-row-time {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  width: 100%;
  position: relative;
  background-color: #383535;
  box-shadow: 0 0 15px 0 #383535;
  border-radius: 15px;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  justify-content: start;
}
.product-item.its-row-time:hover {
  transform: scale(0.95);
  box-shadow: 0 0 15px 0 rgb(227 201 204);
}

.product-item-image.its-row-time {
  border-radius: 15px;
}
.product-info.its-row-time {
  display: flex;
  font-size: 40px;
  margin: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}
.buy.its-row-time {
  width: 50px;
  height: 50px;
  margin-left: 20%;
  background: var(--pageColor);
  color: #28292a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  z-index: 1;
}
/*<!----------------------------------------------------------!>*/
/*<!-----------------------WARNING END------------------------!>*/
/*<!----------------------------------------------------------!>*/

/*<!----------------------JS CSS colmun to row Changing End--------------------!>*/

/***********************************************************************************/
/******************____________Product Section End_______________*******************/
/***********************************************************************************/
