/*
<!------------------------------------------------------------!>
<!--________________(Products section Start)________________--!>
<!------------------------------------------------------------!>
*/
.products-section {
  display: flex;
  background-color: var(--CommanderColor);
  margin: 30px 0;
  width: 100%;
  max-width: var(--soldierContainers);
  box-shadow: 0px -8px 20px var(--pageColor), 0px 11px 20px #463e4f;
  border-radius: 20px;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
}

/*
<!------------------------------------------------------------!>
<!--_________________(Look changing icons)__________________--!>
<!------------------------------------------------------------!>
*/
.changeLook {
  display: flex;
  align-items: center;
  font-family: var(--MainFont);
  justify-content: flex-start;
  margin: 1%;
  gap: 20px;
}

.changeLook h1 {
  letter-spacing: 1px;
  color: rgb(255 255 255);
  text-shadow: 0 0 8px var(--pageColor), 0 0 8px var(--pageColor);
}

.rowLook,
.columnLook {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgb(255 255 255);
  outline: none;
  border-style: none;
  font-size: 30px;
  padding: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rowLook:active,
.columnLook:active {
  transform: scale(0.9);
}

.rowLook.inUse {
  color: var(--pageColor);
}

.columnLook.inUse {
  color: var(--pageColor);
}

/*
<!------------------------------------------------------------!>
<!--_______________(Look changing Icons End)________________--!>
<!------------------------------------------------------------!>
*/
/*
<!------------------------------------------------------------!>
<!--_________________(Products List Style )_________________--!>
<!------------------------------------------------------------!>
*/
.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  row-gap: 40px;
  margin: 4%;
  justify-content: space-between;
}

.product-item {
  display: grid;
  grid-template-rows: 200px auto auto;
  justify-items: center;
  gap: 20px;
  background-color: #383535;
  box-shadow: 0 0 15px 0 #383535;
  border-radius: 15px;
  margin: 0;
  font-family: var(--MainFont);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-item:hover {
  transform: scale(0.95);
  box-shadow: 0 0 15px 0 rgb(227 201 204);
}

.product-item-state {
  display: grid;
  place-items: center;
  place-self: flex-start;
  transform: translateX(235%);
  color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
  text-shadow: 0 0 4px var(--New), 0 0 4px var(--New), 0 0 4px var(--New);
  box-shadow: rgb(56 53 53) -5px 5px 2px 1px;
  width: 60px;
  margin: 0;
  height: 25px;
  position: absolute;
  background-color: var(--pageColor);
  border-radius: 0px 15px 0px 8px;
  font-family: MGR;
  font-size: 15px;
}

.product-item-state::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 5px;
  height: 100px;
  place-self: end;
  transform: translateY(98%);
  border-radius: 5px;
  box-shadow: -2px 5px 2px 2px #383535;
  background-color: var(--pageColor);
}

.product-item-state::after {
  content: "";
  z-index: 0;
  position: absolute;
  width: 100px;
  height: 4px;
  transform: translatex(-95%);
  place-self: flex-start;
  border-radius: 5px;
  box-shadow: rgb(56 53 53) -6px 2px 1px 2px;
  background-color: var(--pageColor);
}

.product-item-image {
  width: 200px;
  height: 200px;
  border-radius: 15px 15px 5px 5px;
  margin: 0;
}

.product-item h1 {
  color: rgb(255 255 255);
  text-shadow: 0 0 10px var(--specialColor);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin: 0;
}

.product-item>span {
  margin: 0;
  font-family: var(--SecondFont);
  opacity: 0.7;
  color: rgb(255 255 255);
}

/*
<!------------------------------------------------------------!>
<!--_________________(Add to Cart Button)___________________--!>
<!------------------------------------------------------------!>
*/
.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 20px;
  font-family: var(--SecondFont);
  border-radius: 5px;
  color: rgb(255 255 255);
  background-color: transparent;
  margin-bottom: 5%;
  padding: 2px;
  height: 30px;
}

.add-to-cart i {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--pageColor);
  box-shadow: 0 15px 20px 0px rgb(33 33 33);
  height: 30px;
  width: 30px;
  border-radius: 5px;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.add-to-cart span {
  opacity: 0;
  font-size: 15px;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/*------------------------------------*/
/**_-_-_-_-_Hovering effects_-_-_-_-_**/
/*----------________________----------*/

.add-to-cart:active {
  transform: scale(0.95);
}

.add-to-cart:hover {
  background-color: var(--pageColor);
  box-shadow: 0 15px 20px 0px rgb(33 33 33);
}

.add-to-cart:hover i {
  transform: translateX(-170%);
  background-color: transparent;
  box-shadow: none;
}

.add-to-cart:hover span {
  opacity: 1;
  padding-left: 30px;
}

/*
<!------------------------------------------------------------!>
<!--________________(Add to Cart Button End)________________--!>
<!------------------------------------------------------------!>
*/
/*
<!------------------------------------------------------------!>
<!--_______________(Products List Style End )_______________--!>
<!------------------------------------------------------------!>
*/
/*
<!------------------------------------------------------------!>
<!--_________________(Products Section End)_________________--!>
<!------------------------------------------------------------!>
*/

/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
<!----------(Products Section modified by javascript)---------!>
////////////////////////////////////////////////////////////////
*/
.products-list.mostaqim {
  grid-template-columns: 100%;
  justify-items: start;
  align-items: center;
}

.product-item.mostaqim {
  display: grid;
  grid-template-columns: 200px repeat(3, 1fr);
  grid-template-rows: 200px;
  width: 80%;
  align-items: center;
  justify-items: start;
}

.product-item-state.mostaqim {
  place-self: flex-start;
  transform: translateX(235%);
}

.product-item-image.mostaqim {
  height: 200px;
  width: 200px;
  border-radius: 15px;
}

.add-to-cart.mostaqim {
  justify-content: flex-start;
  margin: 0;
  gap: 2px;
}

.add-to-cart.mostaqim span {
  justify-content: center;
  pointer-events: none;
  font-size: 13px;
  width: 90px;
  transform: translateX(-10%);
}

.add-to-cart.mostaqim i {
  position: static;
}

.add-to-cart.mostaqim:hover span {
  transform: translateX(5%);
  pointer-events: all;
  padding: 0;
}

.add-to-cart.mostaqim:hover i {
  transform: none;
  background-color: var(--pageColor);
}

/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
<!---------(Products Section modified by javascript End)-------!>
////////////////////////////////////////////////////////////////
*/