   
   
  html{ height: 100; width: 100%;}
  @font-face{
    font-family: "MGR";
    src: url("fonts/SLANT.TTF");
  }
  body{
      margin: 0;
      padding: 0;
      background-color: rgb(40 41 42);
  } 
   
   /**************************footer***************************************************/
 
      
         
            /**************************footer complete***************************************************/