html{ height: 100; width: 100%;}
  



body{
margin: 0;
padding: 0;
background-color: rgb(28 43 62);
 
}
.container{
background-color: black;
z-index: 1;
margin: 0;
padding: 0;
border: 0;
}


.title{  
padding: 0;
margin: 0;
border: 0;
background-color: black;
z-index:1;
text-align: left;
color: rgb(1, 135, 180);   
}



.navs {
height: 20%;
z-index:1;
background-color: rgb(173, 177, 179);
font-size: 30px;
text-align: center;
width: 100%;
padding-top: 10px;
padding-bottom: 10px;
margin: 0%;
border-radius: 30px 30px 30px 30px;
position: sticky;
top: 0;



}
.colorone, .colortwo {

padding-top:10px;
padding-bottom:10px;
font-family: cursive;
text-align: center;
color: rgb(0, 60, 66);
text-decoration: none;
display: inline-block;
width: 23.75%;
transition: 600ms;



}
.colorone:hover, .colortwo:hover{
color: rgba(158, 52, 52, 0.692); 
   
}
.color{

    padding-top:10px;
    padding-bottom:10px;
    font-family: cursive;
    text-align: center;
    transition: 600ms;
    color: rgb(1, 135, 180);  
    text-decoration: none;
    display: inline-block;
    width: 23.75%;

}
.color:hover{
color: rgba(158, 52, 52, 0.692);      
}
.columns{
background-color: rgb(28 43 62);   
margin: 0;
padding: 0;
    
}

.column {
   


    text-align: center;
    border: 3px solid;
    border-color: #fbfbfb;
    border-radius: 30px;
    font-size: 24px;
    color: aliceblue;
    list-style: none;   
    padding-top: 20px;
    border: 0;  
    margin-top:0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;

}
.search_bar{
    display:inline-flex;
    width: 100%;
    max-width: 300px;
    padding-left: 75%;
    padding-bottom: 3%;
}
.search{
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(1, 135, 180);
    border-radius: 5px 0 0 5px;
    background: #fbfbfb;
    transition: background 0.25s, box-shadow 0.25s;

}
.search:focus{
background: rgba(96, 211, 224, 0.386);
box-shadow: 0 0 2px rgb(1, 135, 180);
}
.search::placeholder{
color: rgba(6, 37, 47, 0.756);
}
.search_button{
    width: 40px;
    background: rgb(1, 135, 180);
    color: #ffffff;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;
}
.search_button:active{
    
    box-shadow: inset 0 0 30px rgba(1, 135, 180, 0.251);
.buy{
    
    width: 80px;
    height: 80px;
    background: rgb(1, 135, 180);
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
}
.buy:hover {
    background: rgba(1, 135, 180, 0.441);
  }

 

  .buying{
    display: inline-block;
    width: 10em;
    height: 3em;
    contain: strict;
    fill: currentcolor;
    box-sizing: content-box !important;

