html{ height: 100; width: 100%;}
@font-face{
  font-family: "MGR";
  src: url("fonts/SLANT.TTF");
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(40 41 42);
}
/*****************Product Images****************/
.columns{
    background-color: rgb(40 41 42);
    margin: auto;
    padding: 0;
    max-width: 1300px;    
    }
    
.containerr{
background-color: rgb(40 41 42); 
z-index: 1;
margin: auto;
padding:0;
border-color: #ccc;
border-radius: 15px;
max-width: 1300px;

}
.column {
   

    
  text-align: center;
  border: 3px solid;
  border-color: #fbfbfb;
  border-radius: 30px;
  font-size: 24px;
  color: aliceblue;
  list-style: none;   
  padding-top: 20px;
  border: 0;  
  margin-top:1%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  

}
.imgg{
position: relative;
padding: 0;
margin: auto;
background-color:rgba(173, 177, 179, 0.338);
border-radius: 15px;
transition: 600ms; 
}
.imgg:hover{
transform: scale(1.1);    
}
.im{
border-radius: 15px 15px 0  0;
}
/*****Buy Icons *****/
.buy{
  margin-bottom: 3%;
    width: 80px;
    height: 80px;
    background: rgb(1, 135, 180);
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border:none;
    text-decoration: none;
    transition: 0.2s;
}
.buy:hover {
    background: rgba(1, 135, 180, 0.29);
  }

 

  .buying{
    display: inline-block;
    width: 10em;
    height: 2em;
    contain: strict;
    fill: currentcolor;
    box-sizing: content-box !important;

  }


 /*****Buy Complete *****/
 /*****************Product Images complete****************/


     /**************************footer***************************************************/
     .footer{
        display: block;
        background-color:rgba(173, 177, 179, 0.642); 
        border-radius: 25px 25px 0 0;
        width: 100%;
        height: fit-content;
          }
      
         .footer .paragraph {
        width: fit-content;
        margin:auto;
        padding: 10px;
        font-family: "MGR";
        color:rgb(40 41 42);
        text-align: center;
        font-size: 30px;
        position: relative;
        cursor: pointer;
        transition: 600ms;
    
          }
          .footer .paragraph:hover {
            transform: scale(1.1); 
            
          } 
          .wrap{
            width: fit-content;
            margin: auto;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding-bottom: 20px;
            padding-bottom: 10px;
            
              }
              .wrap .icon{
                margin: 0 10px;
                text-align: center;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                z-index: 2;
                transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
              }
              .wrap .icon span{
                display: block;
                height: 30px;
                width: 30px;
                background: #fff;
                border-radius: 10px;
                position: relative;
                z-index: 2;
                box-shadow: 0px 20px 20px rgba(0,0,0,0.2);
                transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
              }
              .wrap .icon span i{
                line-height: 30px;
                font-size: 15px;
                
              }
              .wrap .facebook:hover span{
                  color: #fff;
                  transform: scale(1.2);
                background: #3B5999;
              }
              .wrap .twitter:hover span{
                color: #fff;
                transform: scale(1.2);
              background: #46C1F6;
            }
            .wrap .instagram:hover span{
                color: #fff;
                transform: scale(1.2);
              background: #e1306c;
            }
            .wrap .github:hover span{
                color: #fff;
                transform: scale(1.2);
              background: #333;
            }
            .wrap .youtube:hover span{
                color: #fff;
                transform: scale(1.2);
              background: #DE463B;
            }  

            /******************wavy background*****************/


/******************wavy background complete*****************/
            /**************************footer complete***************************************************/